<!DOCTYPE html>
<html ng-app="VoteOn-Create">
<head>
    <title>Vote On</title>
    <meta name="viewport" content="initial-scale=1">
    @Styles.Render("~/Bundles/StyleLib/AngularMaterial")
    @Styles.Render("~/Bundles/StyleLib/FontAwesome")
</head>
<body>

    <div layout="column" flex layout-fill>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Vote On</span>
                </h2>
            </div>
        </md-toolbar>

        <md-content md-theme="default">

            <md-tabs md-center-tabs="true" md-dynamic-height="true" class="md-accent">
                <md-tab id="tab1">
                    <md-tab-label>Question</md-tab-label>
                    <md-tab-body>
                        <ng-include src="'/Create/Step1'" />
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab2" ng-disabled="false">
                    <md-tab-label>Style</md-tab-label>
                    <md-tab-body>
                        <ng-include src="'/Create/Step2'" />
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab3" ng-disabled="false">
                    <md-tab-label>Expiry</md-tab-label>
                    <md-tab-body>
                        Expiry Page
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab4" ng-disabled="true">
                    <md-tab-label>Invitations</md-tab-label>
                    <md-tab-body>
                        Invitations page
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>

    @Scripts.Render("~/Bundles/ScriptLib/Angular")
    @Scripts.Render("~/Bundles/ScriptLib/AngularAnimate")
    @Scripts.Render("~/Bundles/ScriptLib/AngularAria")
    @Scripts.Render("~/Bundles/ScriptLib/AngularMaterial")
    @Scripts.Render("~/Bundles/Script")
</body>
</html>