<!DOCTYPE html>
<html ng-app="VoteOn-Create" ng-controller="CreateController">
<head>
    <title>Vote On</title>
    <meta name="viewport" content="initial-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @Styles.Render("~/Bundles/StyleLib/AngularMaterial")
    @Styles.Render("~/Bundles/StyleLib/FontAwesome")
    @Styles.Render("~/Content/Lib/Css/md-date-time.css")
    
</head>
<body>

    <div layout="column" flex layout-fill>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Vote On</span>
                </h2>
            </div>
        </md-toolbar>

        <md-content md-theme="default">

            <md-tabs md-center-tabs="true" md-dynamic-height="true" md-selected="currentStep" class="md-accent">
                <md-tab ng-repeat="step in steps" ng-disabled="step.locked">
                    <md-tab-label>{{step.label}}</md-tab-label>
                    <md-tab-body>
                        <ng-include src="step.content" />
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>

    @Scripts.Render("~/Bundles/ScriptLib/Angular")
    @Scripts.Render("~/Bundles/ScriptLib/AngularAnimate")
    @Scripts.Render("~/Bundles/ScriptLib/AngularAria")
    @Scripts.Render("~/Bundles/ScriptLib/AngularMaterial")
    @Scripts.Render("~/Bundles/ScriptLib/AngularMessages")
    @Scripts.Render("~/Bundles/ScriptLib/AngularThemeColors")
    @Scripts.Render("~/Bundles/ScriptLib/AngularDateTime")
    
    @Scripts.Render("~/Bundles/Script")
</body>
</html>