<!DOCTYPE html>
<html ng-app="VoteOn-Create" ng-controller="CreateController">
<head>
    <title>Vote On</title>
    <meta name="viewport" content="initial-scale=1">

    @Styles.Render("~/Bundles/StyleLib/AngularMaterial")
    @Styles.Render("~/Bundles/StyleLib/AngularDateTime")
    @Styles.Render("~/Bundles/StyleLib/FontAwesome")
    @Styles.Render("~/Bundles/AngularMaterialExtensions")
    @Styles.Render("~/Bundles/VoteOnStyle")

</head>
<body>

    <div layout="column" flex layout-fill>

        <toolbar></toolbar>

        <md-content md-theme="default" class="md-whiteframe-z2">
            @*md-center-tabs Should be true. This is a stupid IE Bug*@
            @*https://github.com/angular/material/issues/2391*@
            <md-tabs md-center-tabs="false" md-dynamic-height="true" md-selected="currentStep" class="md-accent">
                <md-tab ng-repeat="step in steps" ng-disabled="step.locked">
                    <md-tab-label>{{step.label}}</md-tab-label>
                    <md-tab-body>
                        <ng-include src="step.content"></ng-include>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>

    @Scripts.Render("~/Bundles/ScriptLib/Moment")
    @Scripts.Render("~/Bundles/ScriptLib/Angular")
    @Scripts.Render("~/Bundles/ScriptLib/AngularAnimate")
    @Scripts.Render("~/Bundles/ScriptLib/AngularAria")
    @Scripts.Render("~/Bundles/ScriptLib/AngularMaterial")
    @Scripts.Render("~/Bundles/ScriptLib/AngularMessages")
    @Scripts.Render("~/Bundles/ScriptLib/AngularDateTime")
    @Scripts.Render("~/Bundles/ScriptLib/AngularRoute")

    @Scripts.Render("~/Bundles/ScriptLib/ngStorage")

    @Scripts.Render("~/Bundles/Script")
</body>
</html>