<!DOCTYPE html>
<html ng-app="VoteOn-Account">
<head>
    <title>Vote On</title>
    <meta name="viewport" content="initial-scale=1">

    @Styles.Render("~/Bundles/StyleLib/AngularMaterial")
    @Styles.Render("~/Bundles/StyleLib/FontAwesome")

</head>
<body>

    <div layout="column" flex layout-fill ng-controller="LoginController">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Vote On</span>
                </h2>
            </div>
        </md-toolbar>

        <div layout="row">
            <div flex-gt-md="30"
                 flex-md="50"
                 flex-sm="90"
                 offset-gt-md="35"
                 offset-md="25"
                 offset-sm="5">

                <h1 class="md-display-3">Login</h1>

                <md-content>
                    <div>
                        <form name="loginForm" ng-submit="login()">

                            <md-input-container>
                                <label>Email</label>
                                <input ng-model="user.email"
                                       type="email"
                                       name="email"
                                       required
                                       ng-model-options="{ debounce: 500 }">

                                <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
                                    <span ng-message="required">Email is required</span>
                                    <span ng-message="email">Email is not valid</span>
                                </div>
                            </md-input-container>

                            <md-input-container>
                                <label>Password</label>
                                <input ng-model="user.password"
                                       type="password"
                                       name="password"
                                       required
                                       minlength="6"
                                       ng-model-options="{ debounce: 500 }">

                                <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                                    <span ng-message="required">Password is required</span>
                                    <span ng-message="minlength">Password must be at least 6 characters</span>
                                </div>
                            </md-input-container>


                            <div layout layout="row" layout-sm="column" layout-align-gt-sm="end center">
                                <md-button ng-click="forgottenPassword()" type="button">
                                    Forgot your Password?
                                </md-button>
                                <md-button class="md-primary md-raised" type="submit">
                                    Login
                                </md-button>
                            </div>

                        </form>

                    </div>


                </md-content>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Bundles/ScriptLib/Angular")
    @Scripts.Render("~/Bundles/ScriptLib/AngularAnimate")
    @Scripts.Render("~/Bundles/ScriptLib/AngularAria")
    @Scripts.Render("~/Bundles/ScriptLib/AngularMaterial")
    @Scripts.Render("~/Bundles/ScriptLib/AngularMessages")

    @Scripts.Render("~/Bundles/ScriptLib/AngularRoute")

    @Scripts.Render("~/Bundles/Script")
</body>
</html>